/*@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}*/

nav{
	background-color: #3b5998; 
	width: 100vw;
 	position: relative;
 	margin-left: -50vw;
 	left: 49.1%;
 	margin-top: -0.8vw;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .flex{
	height: calc(4*16px);
}

nav .flex .logo{
	height: calc(4*16px);
}


@media (max-width: 1150px) {
  nav .one .flex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.wrap {
  width: 85%;
  
}

nav .flex i {
  font-size: calc(2 * 16px);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.flex.jcsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}



@media (max-width: 1150px) {
  nav .two,
  nav .three,
  nav .one {

  	height: calc(2*16px);
  	font-size: 13px;
    
  }
}

nav .one {
	padding-right: 10%;
	padding-left: 10%;
}
nav .two{
	margin-left: 25%;

}
nav .three{
	margin-left: 25%;
	padding-right: 5%;
}

nav h2, h3{
	color: white;
}

footer{
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   	height: calc(4*12px);
}

section .iviewer{
	margin-left: 30%;
	margin-top: 20%;
	position: justify;
	text-align: center;

}
#file{
	margin-left: 20%;
}

/*.iviewer, .fviewer{
	
	border:2px solid grey;
	
}*/

section{
	width: 100%;
}



section h1{
	font-size: 35px;
}

.nextbutton{

	margin-top: 5%;
	display: none;
	margin-left: 50%;

}

section .wrap{
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 4%; 
}
section .text{
	color: black;
	font-size: 25px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: justify;
}

.one button{
	width: 200px;
	height: 50px;
	margin-left: 35%;
}

@media (max-width: 1150px) {
   .fig1{
   	margin-left: 3%;
    width: 800px;
    height: 400px;
}